spring.datasource.url=jdbc:mysql://localhost:3306/ferreiralearn
spring.datasource.username= <-- DEIXE O NOME DO BRANCO AQUI
spring.datasource.password=  <-- DEIXE A SENHA DO BRANCO AQUI

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=validate

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect